*{
    font-family: 'Poppins', sans-serif;
}
html,body{
    overflow-x: hidden !important;
	padding-right: 0px !important;
}
.fs-13{
    font-size: 13px;
}
.topList{
    list-style: none;
}
/*.hero .img-fluid.position-absolute {
	right: 0;
	top: 0;
	width: 50%;
}*/
.hero{
    padding: 200px 0;
}
.topBar{
    z-index: 2;
}
.col-md-6.position-relative{
    z-index: 2;
}
.logo.img-fluid {
	width: 100px;
}
.nav-item{
    margin: 0 5px;
}
.header {
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 30px;
	background-color: #E8F1F5;
}
.header nav{
    background-color: white;
}
.header nav {
	background-color: white !important;
	padding: 10px 30px !important;
	border-radius: 10px;
	box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.2);
}

a.nav-link.text-white.py-1.btn.btn-dark {
    background: #61A2FF;
    border: 1px solid #61A2FF;
}

.modal-dialog.modal-dialog-centered {
	max-width: 75%;
}
.modal-body {
	padding: 40px;
}
.modal-body input.form-control::placeholder {
	color: rgba(0,0,0,0.6) !important;
}
.modal-body input.form-control {
	border: 1px solid black;
	margin-top: 15px;
}
.columns .card {
	height: 120px;
}
.columns .img-fluid:hover {
	border: 2px solid #0069D9;
	border-radius: 50%;
	padding: 2px;
}
.columns .py-3 {
    background-color: #ffffff;
}
.whyChooseUs {
    padding: 40px 0;
}

.line {
	height: 3px;
	width: 200px;
	background: #FCCB28;
}
/*.whyChooseUs {
	background-image: url("../img/bg-choose.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom center;
}*/
.sliderSection .card {
	border-radius: 0 20px 20px 0;
}
.sliderSection .col-md-7 {
	position: absolute;
	top: 50%;
	right: 65px;
	z-index: 1;
	transform: translateY(-50%);
}
.sliderSection .col-md-7 .card {
	border-radius: 20px;
	margin: 10px;
}
.fs-14{
    font-size: 14px;
}
.sliderSection .col-md-6 .card.bg-primary.pl-5 {
	padding: 150px 0;
}
.btn.prevBtn.slick-arrow, .slick-arrow.slick-prev {
	background: transparent;
	border: 2px solid black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: -12%;
	bottom: 20%;
}
.btn.nextBtn.slick-arrow,  .slick-arrow.slick-next{
	background: transparent;
	border: 2px solid black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: -6%;
	bottom: 20%;
}
.we-deliver{
    background-color: #E8F1F5;
    padding: 35px 0;
}
.br-0{
    border-radius: unset;
}
.fs-12{
    font-size: 12px;
}
.we-deliver .form-control {
	background: transparent;
	border: unset;
	border-bottom: 2px solid white;
	border-radius: unset;
}
::placeholder{
    color: white !important;
}
.form-control:focus{
    outline: unset !important;
    box-shadow: unset !important;
    border-bottom: 2px solid #0069D9 !important;
}
.form-control:focus::placeholder{
    color: black !important;
}
.contact {
	background-color: #14212A;
	padding: 30px 0;
	border-bottom: 2px solid white;
}
.footer {
	background-color: #14212A;
	padding: 50px 0;
}
.contact .col-3.m-auto i {
	background: #2B71FF;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-control.bg-white::placeholder{
    color: black !important;
}

.header-float{
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        border-radius: unset !important;
}


/* move box page */
.move-hero{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/move-hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.better{
	background-color: #E8F1F5;
}
.cards span.bg-primary{
	border-radius: 5px;
	font-size: 14px;
}
.cards .card{
	background-color: #E8F1F5;
	border-radius: unset;
	box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
}
.movingSafely{
	background-color: #E8F1F5;
}
iframe {
	width: 100%;
	height: 100%;
}


.img-hover-zoom {
	height: unset; /* [1.1] Set it as per your need */
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
	transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
	transform: scale(1.2);
  }


  /* box package */
  .tabsSection .card {
	background: unset;
	border: unset;
	padding: 15px 0;
	font-size: 14px;
}
.tabsSection{
	background-color: #EFEFEF;
}
.card.active {
	background: white;
	height: 150px;
	position: absolute;
	width: 100%;
	bottom: 0;
	border-radius: unset;
	display: flex;
	justify-content: center;
	align-items: center;
}
.number {
	display: inline-block;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid grey;
	margin: auto;
}
.card.active .number {
	border-color: #0055FE;
}
.card.active p {
	font-weight: 700;
}
.showTabs{
	background-color: #EFEFEF;
}
.pagination .btn.btn-outline-primary.fs-14.p-1 {
	border-color: black;
	border-radius: unset;
	width: 15%;
	color: black;
}
.pagination .btn.btn-outline-primary.fs-14.p-1:hover{
	color: white !important;
}
.pagination .btn.btn-outline-primary.fs-14.p-1.active{
	background-color: #0055FE;
	color: white !important;
} 
.top.fs-14 {
	vertical-align: top;
}
.bottom.fs-14 {
	vertical-align: bottom;
}
.showTabs .card{
	border-radius: unset;
}
.showTabs .card-header{
	border-radius: unset;
}
.showTabs .card-body{
	border-radius: unset;
}
.showTabs .card-footer{
	border-radius: unset;
}
.btn.btn-danger.mt-3 {
	border-radius: 5px;
	background-color: #007BFF !important;
	font-size: 15px;
	border: none;
}
.showTabs button{
	border-radius: unset;
}
.showTabs .card{
	transition: 0.4s;
}
.bg-info, .btn-info{
	background-color: #39B5FF !important;
	border-color: #39B5FF !important;
}
.bg-success, .btn-success{
	background-color: #40BC86 !important;
	border-color: #40BC86 !important;
}
.showTabs .card:hover {
	transform: scale(1.1);
	position: relative;
	z-index: 1;
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}
button:focus{
	outline: unset !important;
	box-shadow: unset !important;
}
.step1{
	width: 100% !important;
}
.step2, .step3, .step4, .step5, .step6{
	width: 100%;
	display: none;
}
.v-middle{
	vertical-align: middle;
}
.numberInput {
	width: 30px;
	border: unset;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.noCard:hover{
	transform: unset !important;
}
td.fs-12 {
	position: relative;
	top: -3px;
}
.active .number{
	font-weight: 700 !important;
}

/* customers */
.customers{
	padding: 15px 0;
	background-color: #D5D4D4 !important;
}
.btn-holder {
	width: 40px;
	height: 40px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #A6A6A6;
	border-radius: 50%;
}

.packages{
	background-color: #EFEFEF;
}
.btn.homeBtn {
	width: 140px;
	text-align: center !important;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: transparent;
	transform-origin: left bottom;
}
.btn.homeBtn.d-block.w-100.active {
	background: white;
	border-radius: 0;
	height: 120px;
	position: absolute;
	bottom: 0;
	font-weight: 700;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.btn.homeBtn{
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.columns img:hover{
	border: unset !important;
	border-radius: unset !important;
	padding: unset !important;
}
.tdbg{
	background-color: #E3E3E3;
	padding-top: 50px !important;
}
table span.bg-secondary {
	background-color: #D5D4D4 !important;
	padding: 15px;
	position: relative;
	left: -11px;
}

.w-24{
	width: 24%;
}
.w-19{
	width: 19%;
	vertical-align: middle !important;
	background-color: #F5F4F4 !important;
}
.fw-700{
	font-weight: 700;
}
.fs-20{
	font-size: 20px;
}
.tables table td {
	border-left: 10px solid white !important;
	border-right: 10px solid white !important;
}
.bg-sec {
	background: #D5D4D4 !important;
}
.bg-sec1 {
	background-color: #E3E3E3 !important;
}
.bg-sec1 td.w-19 {
	background-color: #F5F4F4 !important;
}
.va-middle{
	vertical-align: middle !important;
}
.movingSafely.py-5 .card-body.pl-5 {
	padding-left: 120px !important;
}
.movingSafely .card.bg-primary {
	border-radius: 0 30px 30px 0;
	padding: 30px 0;
}
.col-md-6.py-2.br-left .card {
	border-radius: 30px 0 0 30px;
}
.col-md-6.mt-4.py-2.p-4.aos-init.aos-animate {
	text-align: center;
}
.movingSafely.py-5 img.w-75 {
	width: 95% !important;
}
.card-body.pl-4.pr-5 {
	padding-right: 120px !important;
}
.table2{
	display: none;
}

.pricing{
	background-color: #EFEFEF;
}
.card-header.bg-primary.text-center {
	background-color: #61A2FF !important;
	border-color: #61A2FF !important;
}
.text-primary {
	color: #61A2FF !important;
}
.pricing.py-5 td {
	padding: 0;
	line-height: 1.8;
	padding-left: 10px;
}
.decboder {
	border: 2px solid #007BFF;
	width: 25px;
	height: 26px;
	display: inline-block;
	text-align: right;
}
.gallery .card{
	overflow-y: hidden !important;
}
.gallery .card-body {
	position: absolute;
	z-index: 2;
	background: #007BFF;
	height: 100%;
	width: 100%;
	color: white !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* opacity: 0; */
	transition: 0.8s;
	transform: translateY(100%);
	transform-origin: left bottom;
}
.gallery .card:hover .card-body{
	/* opacity: 1; */
	transform: translateY(0);
}
.gSlider .slide{
	margin: 10px;
}
.iconH {
	color: #333366 !important;
	background: white;
	margin: 5px;
	width: 40px;
	height: 40px;
	display: inline-flex !important;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.slick-dots li button {
	background: #D7D7D7;
	width: 30px;
	height: 5px;
	display: inline-block;
	content: '';
	padding: 0;
}
.slick-dots li button::before {
	content: '' !important;
}
.slick-dots li {
	margin: 10px;
	display: inline-block !important;
	height: 2px !important;
	content: '';
}
.gSlider .slick-dots .slick-active button {
	background: #61A2FF;
}
.btn.btn-primary {
	background: #61A2FF;
	border-color: #61A2FF !important;
	border-radius: .25rem;
	width: 200px;
}
.columns.py-3 img {
    width: 100%;
    position: relative;
}
.oneImg.img-fluid {
	background: linear-gradient(#fff,#F8FBFE,#F1F7FE,#D2E5F8);
}
.twoImg.img-fluid {
	background: linear-gradient(#BBD8F4,#CAE1F7,#E5F0FB,#F7FAFE,#FBFDFF);
}
.threeImg.img-fluid {
	background: linear-gradient(#fff,#F9FCFE,#D0E4F8);
}

img.img-fluid.position-absolute.aos-init.aos-animate {
    top: -40px;
    right: 130px;
}

/*.row {
    display: flex;
    flex-wrap: wrap;
}*/

h1.mb-0.font-weight-bold.aos-init.aos-animate {
    text-align: center;
}

.top_section {
   padding: 20px 0px 15px 0;
}

.col-12 h4{
	color: #c1c1c1;
}

.col-12 h4 a{
	color: #fff;
}

.col-md-3 h3{
	font-size: 22px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 10px;
}

.col-md-3 p {
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    padding: 0 25px;
}

.col-6.px-2 {
    display: flex;
    margin-left: 165px;
}

section{
	background: #fff;
	padding: 20px 0;
}

.col-md-12 h1{
	font-weight: 700;
}

.col-md-12 {
    padding-bottom: 80px;
}

.whyChooseUs_banner .col-md-4 h4 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 32px;
}

.whyChooseUs_banner .col-md-4 p {
    font-size: 14px;
    font-weight: 700;
}

.whyChooseUs_banner .col-md-4 {
    text-align: end;
}

.text_banner {
    padding-top: 50px;
}

.card_box {
    display: flex;
    justify-content: center;
    margin-top: -55px;
}

.card_box img {
    width: 140%;
    height: auto;
}

.card_text {
    padding-top: 100px;
}

.card_text_inner {
    display: flex;
    padding-bottom: 15px;
}

.card_text_inner img {
    height: 8%;
    padding-right: 22px;
}

.card_text_inner h5 {
    font-weight: 700;
}

.card_box_2 {
    padding-top: 90px;
}

.cardbox_1 {
    display: flex;
    justify-content: center;
}

.cardbox_1 {
    display: flex;
    justify-content: center;
}

.col-sm-6 {
    flex: 0 0 20%;
    max-width: 100%;
}

.col-sm-3 {
    display: flex;
    justify-content: inherit;
}

.cardbox_otr {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.col-sm-3 img {
    width: auto;
}

img.img-fluid.position-absolute.aos-init.aos-animate {
    top: -187px;
    right: 130px;
    width: 100%;
}


p.text {
    max-width: 270px;
    text-align: center;
}

.col-md-3.p-0.py-2.aos-init.aos-animate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-sm-12 {
    text-align: center;
    padding: 10px 0;
}

.col-sm-12 h1 {
    font-weight: 700;
}

section.hero.position-relative {
    background-color: #E8F1F5;
}

section.columns.py-3 {
    background-color: #E8F1F5;
}

.col-md-4 p.text-white.fs-13.mt-3 {
    max-width: 250px;
}


/* Blue box changes html */

.columns.py-3 img {
    width: 100%;
    position: relative;
    margin: 0 15px 25px 15px;
    margin-bottom: 25px;
}

.silouhette {
    background: url(../img/silouhette_image.png) no-repeat center;
    background-size: cover;
    width: 100%;
   	padding-bottom: 200px;
    margin-top: 60px;
}

.contact {
    background-color: #000 !important;
    padding: 30px 0;
    border: none !important;
}

.footer {
    background-color: #000 !important;
    padding: 50px 0;
}

.list-group-item {
    position: relative;
    display: inline-block !important;
    /*background-color: #007bff!important;*/
    border: none !important;
    padding: 0 !important;
}

button.close {
    text-align: end;
    font-size: 30px;
    padding: 5px 15px 5px 0; 
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    height: 330px !important;
}
section.hero.move-office {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/Home-moves-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.hero.move-home {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/Office-moves-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Moving supplies css*/

h2.text-center.page-head {
    padding: 40px 0 40px 0;
    font-weight: 600;
}

#pricing.moving-pricing #content #supplies-list {
    padding: 0 30px;
}

.product {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px 0 10px 0;
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 20%);
    display: flex;
    margin-bottom: 30px;
}

div#supplies-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

#pricing.moving-pricing #content .columns.product-image {
    -ms-flex-align: center;
    align-items: center;
}

#pricing.moving-pricing #content .columns {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.product .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns.small-12.medium-6.large-4.product-image img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.product h3 {
    font-weight: 700;
    color: #000;
    margin-bottom: 0;
}

.product .product-price {
    color: #007bff;
    font-size: 1.35em;
    margin-bottom: 20px;
    display: block;
    font-weight: 500;
}

.product .product-description {
    font-weight: 200;
    font-size: 1em;
}

ul.checklist {
    padding-left: 0;
    margin-left: 0;
    line-height: 1.6;
    margin-bottom: 1rem;
    list-style-position: outside;
}

ul.checklist li {
    list-style: none;
    margin-bottom: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#pricing #box-pricing-table .checklist li:before, #pricing.moving-pricing .checklist li:before, #pricing.packing-pricing .checklist li:before {
    color: #67ce67;
}

i.fa.fa-check {
    margin-right: 10px;
    color: #007bff;
}

.product .button {
    font-size: 1.5em;
    padding: 1em 3em;
    margin-top: 10px;
}

.button.alert {
    background: #f94e36;
    box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 10%);
}

.button.alert {
    background-color: #007bff !important;
    color: #fff !important;
}

a.button.alert {
    border-radius: 100px;
    background: 0 0;
    border: none;
    font-weight: 700;
    font-size: 1em;
    display: inline-block;
    margin-top: -10px;
}

.product-description {
    margin-bottom: 35px;
}

#pricing.moving-pricing #content .columns {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.columns.small-12.medium-6.large-4.product-image {
    width: 40%;
}

.columns.small-12.medium-6.large-8 {
    width: 60%;
}

.footer {
    background-color: #000 !important;
    padding: 50px 0;
    width: 100%;
}

section.moving-supplies {
    background: #EFEFEF;
   	padding: 0 0 30px 0;
}

/*Faq css*/

.card-header .title {
    font-size: 17px;
    color: #000;
}

.card-header .accicon {
  float: right;
  font-size: 20px;  
  width: 1.2em;
}

.card-header{
  cursor: pointer;
  border-bottom: none;
}

.card{
  border: 1px solid #ddd;
  border-radius: 14px!important;
}

.card-body{
  border-top: 1px solid #ddd;
}

.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}

.card_main {
    margin-bottom: 20px;
}

.card-header.collapsed span.title {
    font-size: 25px !important;
    font-weight: 500;
    color: #000;
}

.card-header.collapsed i.fas.fa-angle-down.rotate-icon {
    font-size: 30px;
    transition: transform .2s ease-in-out;
}

.card-header .title {
    color: #fff;
    font-size: 25px !important;
    font-weight: 500;
}

.card_main .card-header{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background: #61A2FF !important;
   	padding: 18px;
   	border-radius: 10px 10px 0 0 !important;
   	transition: 0.10s;
}

.card-header.collapsed {
    background: #fff !important;
    padding: 18px;
    border-radius: 14px!important;
}

.card-header:not(.collapsed) .rotate-icon {
    transform: rotate( -180deg) !important;
    font-size: 30px;
    color: #fff !important;
}

.faq {
    padding: 50px 0;
    background: #e6e6e6;
}

.card-body {
    border-top: none !important;
}

@media screen and (max-width:1200px){
	.btn.nextBtn.slick-arrow {
		left: -50%;
	}
	.movingSafely.py-5 .card-body.pl-5 {
		padding-left: 60px !important;
	}
	.card-body.pl-4.pr-5 {
		padding-right: 60px !important;
	}
	.card_text_inner h5 { font-weight: 700; font-size: 15px;}
	.col-sm-3 img { width: auto;}
	.btn.prevBtn.slick-arrow {left:-16%;bottom:20%;}
	.btn.nextBtn.slick-arrow { left: -8%;}
	.we-deliver h2.font-weight-bold { font-size: 29px;}
	.col-md-12 h1 { font-size: 34px;}
	.col-sm-12 h1 { font-size: 34px;}
	.col-12 h4 { color: #c1c1c1; font-size: 23px;}
	.col-md-6 h1.mb-0.font-weight-bold.aos-init.aos-animate { text-align: center; font-size: 34px;}
	img.img-fluid.position-absolute.aos-init.aos-animate { top: -160px; right: 130px; width: 100%;}
	.whyChooseUs_banner .col-md-4 h4 { font-size: 21px; font-weight: 700; padding-top: 32px;}
	.whyChooseUs_banner .col-md-4 p { font-size: 13px; font-weight: 700;}
	.whyChooseUs_banner .col-md-4 h4 { font-size: 21px; font-weight: 700; padding-top: 25px;}
	.card_text_inner h5 { font-weight: 700; font-size: 14px;}
	.col-9 { flex: 0 0 75%; max-width: 71%;}
	.btn.prevBtn.slick-arrow { left: -15%; bottom: 20%;}
	.silouhette { background: url(../img/silouhette_image.png) no-repeat center; background-size: cover; width: 100%; margin-top: 60px; padding: 92px !important;}	
}
@media screen and (max-width:992px){
	.btns.mt-4.col-md-9 {
		max-width: 85%;
	}
	.columns .card {
		height: 140px;
	}
	.whyChooseUs {
		background-size: 150%;
	}
	.showTabs .col-lg-3.aos-init.aos-animate {
		padding: 0;
		margin-top: 20px;
	}
	.col-md-6 { z-index: 2; padding-top: 20px;}
	h1.mb-0.font-weight-bold.aos-init.aos-animate { text-align: center; font-size: 30px;}
	.col-6.px-2 { display: flex; margin-left: 95px;}
	.col-12 h4 { color: #c1c1c1; font-size: 20px;}
	.columns.py-3 img { width: 100%; position: relative;}
	.col-md-3 h3 { font-size: 18px; text-align: center; font-weight: 700; padding-bottom: 8px;}
	.col-md-3 p { font-size: 12px; text-align: center; font-weight: 700; padding: 0 18px;}
	.whyChooseUs { padding: 30px 0;}
	.col-md-12 h1 { font-weight: 700; font-size: 32px;}
	.col-md-12 { padding-bottom: 65px;}
	.col-md-4 h4 { font-size: 20px; font-weight: 700; padding: 50px 0 6px 0;}
	.col-md-4 p { padding: 0 0px 0 38px; font-size: 13px; font-weight: 700; max-width: 218px;}
	.card_box img { width: 155%; height: auto; padding-left: 10px;}
	.card_box { display: flex; justify-content: center; margin-top: -22px;}
	.col-md-4 p { padding: 0 0px 0 0px; font-size: 13px; font-weight: 700;}
	.text_banner { padding-top: 0px;}
	.card_text_inner h5 { font-weight: 700; font-size: 11px; padding-top: 2px;}
	.col-sm-3 img { max-width: 170px;}
	.card_text { padding-top: 50px;}
	.columns.py-3 img { width: 100%; position: relative;}
	.card_text_inner img { height: 8%; padding-right: 10px; width: 8%;}
	.hero { padding: 142px 0;}
	img.img-fluid.position-absolute.aos-init.aos-animate { top: -93px; right: 130px;}
	.col-12 h4 { color: #c1c1c1; font-size: 19px;}
	.col-sm-12 h1 { font-size: 32px;}
	.whyChooseUs_banner .col-md-4 p { padding: 0; font-size: 12px; font-weight: 700;}
	.whyChooseUs_banner .col-md-4 h4 { font-size: 21px; font-weight: 700; padding: 65px 0 5px 0;}
	.we-deliver h2.font-weight-bold { font-size: 21px;}
	.col-md-6 h1.mb-0.font-weight-bold.aos-init.aos-animate { text-align: center; font-size: 33px;}
	.sliderSection .col-md-7 { position: absolute; top: 50%; right: 65px; z-index: 2; transform: translateY(-50%);}
	.btn.prevBtn.slick-arrow { left: -16%; bottom: 20%;}
	.col-md-4 p {max-width: none; padding: 0;}
	.silouhette { background: url(../img/silouhette_image.png) no-repeat center; background-size: cover; width: 100%; margin-top: 60px; padding: 76px !important;}
	.moving-supplies h2.text-center.page-head { font-size: 31px;}
	.moving-supplies h2.text-center.page-head { padding: 35px 0 35px 0; font-weight: 600;}
}

@media screen and (max-width:768px){
	.hero.position-relative {
		background: rgba(0,0,0,0.7);
	}
	.packages .container {
		max-width: 100%;
	}
	.hero.move-hero.position-relative {
		background: unset;
		background-image: url("../img/move-hero.png") !important;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.whyChooseUs .col-md-6.m-auto {
		margin-top: 20px !important;
	}
	.sliderSection .col-md-7 {
		position: unset;
		transform: unset !important
	}
	.btn.prevBtn.slick-arrow {
		display: none;
	}
	.btn.nextBtn.slick-arrow {
		display: none;
	}
	.sliderSection .col-md-6 .card.bg-primary.pl-5 {
		padding: 0;
		border-radius: unset;
	}
	.contact .col-md-4 {
		margin: 10px 0;
	}
	.topBar.bg-primary.py-2.position-relative {
		text-align: center !important;
	}
	.topBar .text-right {
		text-align: center !important;
	}
	iframe{
		height: unset !important;
	}
	.st1 p {
		display: none;
	}
	.st2 p {
		display: none;
	}
	.st3 p {
		display: none;
	}
	.st4 p {
		display: none;
	}
	.card.active {
		height: 90px;
	}
	.showTabs .col-lg-9.p-0 {
		padding: 0 10px !important;
	}
	.showTabs .col-lg-3 {
		padding: 0 10px !important;
	}
	.movingSafely .card.bg-primary {
		border-radius: 0;
	}
	.col-md-6.py-2.br-left .card {
		border-radius: 0;
	}
	.tables .table.mb-0.table-striped.table1 {
		overflow-x: scroll !important;
	}
	h1.mb-0.font-weight-bold.aos-init.aos-animate { font-size: 21px; max-width: 492px;}
	section { background: #fff; padding: 15px 0;}
	.col-md-6 { z-index: 2; padding-top: 6px; padding-bottom: 25px;}
	img.img-fluid.position-absolute.aos-init.aos-animate { top: 190px; right: 210px;}
	.col-6.px-2 { display: flex; margin-left: 129px;}
	.col-md-6.position-relative { width: 100%;}
	.col-md-6 { z-index: 2; padding-top: 6px; padding-bottom: 52px;}
	img.img-fluid.position-absolute.aos-init.aos-animate { top: 190px; right: 185px; width: 60%;}
	.col-12 h4 { color: #c1c1c1; font-size: 16px;}
	.columns.py-3 img { width: 100%; position: relative;}
	.col-md-4 p { font-size: 14px; font-weight: 700; max-width: 250px; margin: 0 auto; text-align: center; padding-bottom: 30px;}
	.col-md-4 h4 { font-size: 25px; font-weight: 700; padding: 0 0 10px 0; text-align: center;}
	.col-md-12 { padding-bottom: 35px;}
	.card_box img { width: 100%;}
	.card_text_inner { display: flex; padding-bottom: 15px; align-items: center; flex-wrap: nowrap;}
	.cardbox_1 { width: 100%; display: flex; justify-content: center;}
	.cardbox_2 { width: 100%; display: flex; justify-content: center;}
	.cardbox_3 { width: 100%; display: flex; justify-content: center;}
	.card_text_inner img { width: 14%; margin-top: -10px;}
	.card_text_inner h5 { font-weight: 700; font-size: 13px;}
	.card_box_2 { padding-top: 10px; display: flex; justify-content: center;}
	.card_text { padding-top: 30px;}
	.col-md-3 h3 { font-size: 22px; text-align: center; font-weight: 700; padding-bottom: 8px;}
	.col-md-3 p { font-size: 13px; text-align: center; font-weight: 700; padding: 0 150px;}
	.cardbox_otr { display: flex; justify-content: center; flex-wrap: wrap;}
	img.img-fluid.position-absolute.aos-init.aos-animate { top: -186px; right: 130px; width: 80%;}
	.col-12 h4 { color: #c1c1c1; font-size: 14px;}
	.col-sm-12 h1 { font-size: 29px;}
	.col-md-12 h1 { font-weight: 700; font-size: 29px;}
	.whyChooseUs_banner .col-md-4 h4 { font-size: 21px; font-weight: 700; padding: 18px 0 5px 0;}
	.col-md-3.p-1.aos-init.aos-animate { width: 50%; text-align: center;}
	.we-deliver h2.font-weight-bold { font-size: 18px;}
	.col-md-3 p { font-size: 13px; text-align: center; font-weight: 700; padding: 0 0 10px 0;}
	.col-md-4 p { font-size: 14px; font-weight: 100; padding-bottom: 10px;}
	.silouhette { background: url(../img/silouhette_image.png) no-repeat center; background-size: cover; width: 100%; margin-top: 60px; padding: 59px !important;}
	.moving-supplies h2.text-center.page-head { font-size: 25px;}
	.moving-supplies h2.text-center.page-head { padding: 31px 0 31px 0; font-weight: 600;}
	.product h3 { font-size: 20px;}
	.product .product-price { font-size: 19px;}
	.product-description ul.checklist li { font-size: 16px;}
	a.button.alert{ font-size: 15px; margin-top: -14px; }
}

@media screen and (max-width:576px){
	.we-deliver {
		padding: 30px 15px;
	}
	.hero h1.mb-0.font-weight-bold {
		font-size: 25px;
	}
	.hero {
		padding: 150px 0 50px 0;
	}
	.pagination .btn {
		font-size: 10px;
	}
	.silouhette { background: url(../img/silouhette_image.png) no-repeat center; background-size: cover; width: 100%; margin-top: 60px; padding: 45px !important;}
	.moving-supplies h2.text-center.page-head { font-size: 20px;}
	.moving-supplies h2.text-center.page-head { padding: 28px 0 28px 0; font-weight: 600;}
	.product h3 { font-size: 19px;}
	.product .product-price { font-size: 18px;}
	.product-description ul.checklist li { font-size: 15px;}
	a.button.alert { font-size: 14px; margin-top: -14px;}
	div#supplies-list{ width: 84%; }
}

@media screen and (max-width:375px){
	h1.mb-0.font-weight-bold.aos-init.aos-animate { font-size: 19px; max-width: 492px;}
	img.img-fluid.position-absolute.aos-init.aos-animate { top: -160px; right: 55px; width: 100%;}
	.hero { padding: 150px 0 140px 0;}
	.top_section { padding: 15px 0px 10px 0;}
	.col-12 h4 { color: #c1c1c1; font-size: 17px;}
	.col-md-3 h3 { font-size: 20px; text-align: center; font-weight: 700; padding-bottom: 8px;}
	.col-md-3 p { font-size: 13px; font-weight: 700; padding: 0 52px;}
	.col-md-12 h1 { font-weight: 700; font-size: 28px;}
	.col-md-4 h4 { font-size: 22px; font-weight: 700; padding: 0 0 5px 0; text-align: center;}
	.col-md-4 p { font-size: 13px; font-weight: 700; max-width: -1px; margin: 0 auto; text-align: center; padding-bottom: 30px;}
	.card_text_inner img { width: 9%; margin-top: -5px;}
	.card_text_inner h5 { font-weight: 700; font-size: 13px;}
	.col-sm-6 { flex: 0 0 100%; max-width: 100%;}
	.col-md-3.p-1.aos-init.aos-animate { display: flex; justify-content: center;}
	.col-md-4 p { font-size: 13px; font-weight: 700; max-width: 227px; margin: 0 auto; text-align: center; padding-bottom: 30px;}
	.col-md-3 p { font-size: 13px; text-align: start; font-weight: 700; padding: 0 0px;}
	p.title { max-width: 227px;}
	.col-6.px-2 { display: flex; margin-left: 95px;}
	.col-md-4.aos-init.aos-animate { display: flex; justify-content: center;}
	p.text { max-width: 270px; text-align: center;}
	.col-md-3.p-0.py-2.aos-init.aos-animate { display: flex; flex-wrap: wrap; justify-content: center;}
	.col-md-12 h1 { font-weight: 700; font-size: 26px;}
	.col-sm-12 h1 { font-size: 26px;}
	.col-md-12 { padding-bottom: 10px;}
	.whyChooseUs_banner .col-md-4 h4 { font-size: 21px; font-weight: 700; padding: 20px 0 5px 0;}
	.text_banner { padding-top: 0px; padding-bottom: 30px;}
	.line { height: 3px; width: 200px; background: #FCCB28; margin-left: 13px;}
	.we-deliver h2.font-weight-bold { font-size: 18px; text-align: center;}
	.col-md-3.p-1.aos-init.aos-animate { display: flex; justify-content: center; width: 50%;}
	.btn.nextBtn.slick-arrow { left: 48%; top: -42px;}
	.btn.prevBtn.slick-arrow { display: none; left: 36%; z-index: 1; top: -42px;}
	.whyChooseUs { padding: 20px 0;}
	.footer { background-color: #14212A; padding: 30px 0;}
	.col-md-4 p { font-size: 13px; font-weight: 700; max-width: 227px; margin: 0 auto; padding-bottom: 12px; text-align: center;}
	.line { height: 3px; width: 200px; background: #FCCB28; margin-left: 1px;}
	.whyChooseUs_banner .col-md-4 p { padding: 0; font-size: 12px; font-weight: 700;}
	.col-md-4 p.text-white.fs-13.mt-3 { max-width: none;}
	.col-md-4 h5.text-white.font-weight-bold { padding-top: 16px;}
	.col-md-4 p.text-white.fs-13.mt-3 { max-width: none; text-align: left;}
	.card_box img { width: 100%; height: 100%; padding: 0;}
	.silouhette { background: url(../img/silouhette_image.png) no-repeat center; background-size: cover; width: 100%; margin-top: 60px; padding: 30px !important;}
	.moving-supplies h2.text-center.page-head { font-size: 20px;}
	.moving-supplies h2.text-center.page-head { padding: 25px 0 25px 0; font-weight: 600;}
	.product h3 { font-size: 15px;}
	.product .product-price { font-size: 16px;}
	.product-description ul.checklist li { font-size: 11px;}
	a.button.alert { font-size: 12px; margin-top: -14px;}
	div#supplies-list{ width: 79%; }
}

.cityname {
    text-align: center;
}

.we-deliver .form-control{
	color: #fff;
}

.we-deliver input.form-control:focus{
	background: transparent;
}


/* Extra CSS 09-09-2021*/
.step1 .card {
    margin: 0 15px 30px;
	box-shadow: 0 17px 25px rgb(0 0 0 / 13%);
	border-radius: 10px;
	min-height: 335px;
}

.step1 .card-header.bg-danger,.step2 .card-header, .step3 .card-header {
    padding: 10px;
    background-color: #007BFF !important;
    border-radius: 10px 10px 0px 0px;
	
}
.h3, h3 {
    font-size: 1.50rem;
}
.step1 .card-header.bg-danger .text-white {
    margin-bottom: 0px;
}
.step1 .card-body{
	padding: 0.8rem;
}

.middle.fs-14 {
    vertical-align: middle;
}

.card-body p, .card-body li {
    font-size: 0.8rem;
}

.step2 .card-body ul li, .step3 .card-body ul li{
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
	font-size: 0.7rem;
}
.step2 .card-body ul li:before, .step3 .card-body ul li:before {
    font-family: "Font Awesome 5 Free";
	font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    color: #69CE69;
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	margin-right: 6px;
}

.step1 .card span.crs, .step2 .card span.crs, .step3 .card span.crs {
    font-size: 18px;
    vertical-align: middle !important;
}
.card .radio-toolbar {
    position: absolute;
    bottom: 20px !important;
    /* margin: 0 auto; */
    width: 90%;
}
.step2 .card, .step3 .card{
	margin: 0 15px;
	box-shadow: 0 17px 25px rgb(0 0 0 / 13%);
	border-radius: 10px;
	min-height: 300px;
}
.step2 .title-main, .step3 .title-main{
	margin-top: 15px;
}
.step2 .card p, .step3 .card p{ 
	margin-bottom: 0;
}

.step2 .card-body, .step3 .card-body{
	padding: 0 0.8rem  0.8rem;
}
.step2 .pkgprice, .step3 .pkgprice{
	font-size: 1rem;
	margin-top: 10px;
}
.step5 .pickupdiv {
    display: flex;
    align-items: center;
}
.step5 .pickupdate{
	display: flex;
    width: 60%;
    justify-content: end;
}
.step5 .pickupdetail{
	width: 40%;

}
.step5 .pickupdate h5 {
    margin-right: 10px;
}
.step4 p.messagered {
    margin-left: 30px;
    margin-top: -38px;
}
.step4 p.messagegreen {
    margin-left: 30px;
    margin-top: -22px;
}

.pricing .card {
    margin: 0 10px;
	box-shadow: 0 17px 25px rgb(0 0 0 / 13%);
	border-radius: 10px ;
	min-height: 443px;
}
.pricing .card-header.bg-primary.text-center {
    padding: 10px;
    background-color: #007BFF !important;
    border-radius: 10px 10px 0px 0px;
}
.pricing .text-center{
	font-size: 1.2rem;
}
.pricing .card span.crs, .packagecard span.crs, .packagecard span.crs {
    font-size: 18px;
    vertical-align: middle !important;
}

.pricing .card-body{
	padding: 0 0.8rem  0.8rem;
}
.pricing .card-body p, .card-body li {
    font-size: 0.9rem;
	
}
.pricing .card-body-main{
	margin-top: 6px;
	min-height: 443px;
}

.table-pricing {
    width: 100%;
    margin-bottom: 1rem;
    color: #69CE69;
	min-height: 223px;

}

.pricetable .fs-12 {
    font-size: 15px;
}


/* CSSS for FAQ*/

/*.faq_section .container, .accordion_section .container{
	width: 100%;
	max-width: 1000px;
}*/

.faq_section {
	background-image: url("../img/move-hero.png") !important;
    background-repeat: no-repeat;
    padding: 35px 0;
    background-size: cover;
}

.faq_section .col-md-12 {
    padding: 151px 0;
    text-align: center;
}

.faq_section .col-md-12 h1 {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}
/*
button.accordion-button.collapsed {
    font-size: 25px;
    font-weight: 600;
}

.accordion .col-md-12 {
    margin-bottom: 30px;
    padding-bottom: 0px;
    border: 1px solid #e6e6e6;
    border-radius: 10px !important;
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #61A2FF !important;
    border-radius: 10px 10px 0 0 !important;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none !important;
}

.accordion-item {
    border-radius: 10px !important;
    border: 1px solid #e6e6e6;
}

button.accordion-button.collapsed {
    border-radius: 10px !important;
}

.accordion_section{
    background:#e6e6e6;
    padding: 40px; 
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 25px !important;
}

button.accordion-button {
    font-weight: 600;
}*/

.privacypolicy {
	background-image: url("../img/move-hero.png") !important;
    background-repeat: no-repeat;
    padding: 35px 0;
    background-size: cover;
}

.privacypolicy .col-md-12 {
    padding: 151px 0;
    text-align: center;
}
.privacypolicy .col-md-12 h1 {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}

.policy{
    background:#e6e6e6;
    padding: 40px; 
}
.policy h2{
	font-size: 1.6em;
}
.policy p {
	font-size: 1.0rem;
	line-height: 2.1rem;
}

.spacer20{
	height: 20px;
	display: block;
	clear: both;
}
.spacer30{
	height: 30px;
	display: block;
	clear: both;
}
.spacer40{
	height: 40px;
	display: block;
	clear: both;
}
.policyrow span{
		margin-left: 20px;
}
.policyrow {
    width: 100rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
}


div#page-content {
    display: flex;
 
    display: contents;
}

.maincart .table td, .table th {
    padding: .50rem;
}

.maincart i.fa.fa-minus, .maincart i.fa.fa-trash {
    font-size: 10px;
    vertical-align: middle;
}
.maincart{
	position: relative;
}

.step1 .btn-dark, .step2 .btn-dark, .step3 .btn-dark, .step4 .btn-dark, .step5 .btn-dark, .step6 .btn-dark{
    border-radius: 18px;
    line-height: 36px;
    font-size: 18px;
	background-color: #007BFF;
    border-color: #007BFF;
}
.btn-dark:hover {
    color: #fff;
    background-color:#007BFF !important;
    border-color: #007BFF !important;
}
.btn-dark:disabled {
    color: #fff;
    background-color: #007BFF !important;
    border-color: #007BFF !important;
}
.loadingclass{

	position: absolute;
	top: 52%;
	left: 45%;
	z-index: 1;
	
	/* background-color: #007BFF; */
	/* color: white; */
}
.spinner {
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 1;
    /* background-color: #007BFF; */
    /* color: white; */
}
.buttonIn {
	width: 300px;
	position: relative;
}
/*   
.buttonIn input {
	margin: 0px;
	padding: 0px;
	width: 100%;
	outline: none;
	height: 30px;
	border-radius: 5px;
}
   */
.buttonIn button {
	position: absolute;
	top: 0;
	border-radius: 5px;
	right: 0px;
	z-index: 2;
	border: none;
	top: 2px;
	height: 30px;
	cursor: pointer;
	color: white;
	background-color: #1e90ff;
	transform: translateX(2px);
	margin-top: 33px;
	margin-right: 10px;
}

